@charset "utf-8";

.light_gray {
	background: #f1f3f4;
}
.gray {
	background: #dfe1e5;
}
.blue {
	background: #4285f4;
	color: #fff;
}
table {
	border: 1px solid #eee;
	text-align: center;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
}
table td {
	border: 1px solid #eee;
	line-height: 34px;
	border-radius: 4px;
	border-spacing: 8px;
	cursor: pointer;
}
table td span{
	display: block;
	text-align: right;
	padding: 0 10px;
}
table td span.input_val{
	color: #999;
	font-size: x-small
}
table td span.result_val{
	color: #000;
	font-weight: bold;
	font-size: x-large;
}
